h1 {
    font-family: 'Courier New', Courier, monospace;
    color: pink;
    font-size: 32px;
}

li {
    font-family: "Times New Roman", serif;
    font-size: 18px;
    background-color: lightcoral;
}