h1 {
    font-family: 'Courier New', Courier, monospace;
    color: pink;
    font-size: 32px;
}

li {
    font-family: "Times New Roman", serif;
    font-size: 18px;
    background-color: #f08080;
    padding: 15px;
    width: 20%;
    margin-bottom: 8px;
    margin-right: 8px;
    display: inline-block;
    box-sizing: border-box;
}